//make sure that the scss compilation occurs properly 
//use font size to change icon size
:root{
  --timerBarWidth:1%;
}
$fontClr :honeydew;
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  //border:solid black 2px; // add a border to see alignment and positioning 
  //make sure the goddamn watch sass is on!!!!!!!
}
$mainMargin: 15px;
@mixin sizing($ht, $wd, $pd, $mg) {
  height: $ht;
  width: $wd;
  padding: $pd;

  margin: $mg;
}
@mixin flex($direc, $align, $justify, $gap) {
  //make sure the order is the same for the parameters , errors would be hard to debug
  display: flex;
  flex-direction: $direc;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}
#backVideo{
   top:0; ; z-index: 1;  position: fixed; background-color: rgb(12, 12, 13);
  width: 100vw; left: 0; 
  filter: brightness(90%);
}

.mainInterface { // this holds all UI 
  position: relative;  z-index: 10;
  top: 12vh;
  @include flex(row, space-evenly,center, 0);
  @include sizing(
    clamp(100px, 70vh, 800px),
    clamp(300px, 70vw, 1000px),
    10px,
    0
  );
  background-color: rgba(1, 2, 12, 0.2);
  box-shadow: 1px 3px 2px rgba(0, 0, 0, .2); 

  margin: auto;
  
  // simply use margin auto to center horizontally , if its in a flex box use those things
}
.timeDisplay{ // the timer and time bar parent
  @include flex(column,center,space-around,none); width: 80%; align-self: center;
}
.modifications{ //mute and change background parent
  @include flex(column,center,space-around,50%);align-self: center; height: 70vh;
   transform: translateX(-60%);
}
.timeSelector {//select time background parent
  @include flex(column, center, space-evenly, none);
  @include sizing(50vh, 10vw, 5px, none);align-self: center;
}
.timer{
  @include sizing(40px,70px,0,30px);
   background-color: rgb(196, 147, 33); transform: translateX(-30%) translateY(-80%);
   border-radius: 30%;
}
.timerIndicator{ // time bar
  @include sizing(5%,75%,0,auto);  background-color: rgb(11, 7, 4);  transition: 500ms;
  position: relative;
  
  &::after{ // if pseudo does not show up use pos absolute and content "" always  
    content: "";
     
    
     @include sizing(3px,var(--timerBarWidth),0,0);   position: absolute;  background-color: #fff;
  }
  
}
.t .timerIndicator{
  @extend .timerIndicator;
  background-color: rgb(18, 133, 26);
}

.time5 {
  height: 6vh; 
  width: 3vw;
  color: $fontClr;
  background-color: rgba(1, 6, 18, 0.159);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5) ;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  transform: scale(1.5); // just use scale like this
}
.time10 {
  @extend .time5;
}
.time20 {
  @extend .time5;
}
.muteAudio {
  @extend .time5; height: 4vh; width: 2vw;
  
}
.arrowClickArea{
  @extend .muteAudio; 
  
}
#tt,#arrowChangeBack{
  font-size: 1rem; margin:auto; text-align: center; position: relative;
  transform: translateX(5px) translateY(4px);
}
#tt{
  transform: translateX(0px) translateY(3px);
}

